Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

OBJECTIVES:    
1.In this notebook I have created certain markdown cells        
2.and I have done arithmetic operations             
3.popular languages used for data science are python, julia, scala, SQL,etc            
4.using python libraries we can visualize and analyze the data more effectively

Some of the popular languages that Data Scientists use are:    
1.Python     
2.Julia     
3.R     
4.Scala    
5.SQL

Some of the commonly used libraries used by Data Scientists include:   
1.Pandas  
2.Numpy  
3.Matplotlib   
4.Scikit-learn    
5.Keras

|Data Science Tools|
|------------------|
|Pandas            |
|Weka              |
|hadoop            |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
7+5

12

In [3]:
12+2*6

24

In [4]:
115*1+8/5

116.6

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
min=200
hour=min/60
print(hour)

3.3333333333333335

<h1>AUTHOR</h1>
Kirtan Dhotra